<!DOCTYPE html>
<html lang="ja" ng-app="CHAT">
<head>
	<meta charset="UTF-8">
	 <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Global Chat</title>
	<script src="/socket.io/socket.io.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular-cookies.min.js"></script>
	<script src="./app.js"></script>
	 
</head>
<body>
	<style>
		body{
			color: #5F5F5F;
		}

		.me{
			text-align: right;
		}
		.draft{
			color: #ccc;
		}

		.time{
			font-size: 0.6em;
			color: #aaa;
		}

		input{
			font-size: inherit;
		}

		button{
			font-size: inherit;
		}
	</style>

	<div ng-controller='talkCtrl'>
		<!-- Inputs of user name and talk -->
		<form>
			<input type="text" ng-model="talker" placeholder="Name" ng-readonly="!changeNamable">
			<input type="text" ng-model='talk' ng-keyup="writing()">
			<button ng-click="add()">Send</button>
		</form>
		<!-- Draft -->
		<div class="draft">
			<div ng-repeat="d in drafts | orderBy:'time':true">
				<b>{{d.talker}}</b> (Writing...)<br> 「{{d.content}}...」
			</div>
		</div>

		<!-- History of talks-->
		<div>
			<div ng-repeat="t in talks | orderBy:'time':true" ng-class="{me: (t.talker == talker)}">
				<span ng-hide="t.talker == talker"><b>{{t.talker}}</b> 
					<span class="time">{{t.time | date:"h:mma" | lowercase}}</span><br>
				</span> 
				<span ng-show="t.talker==talker" class="time">
					{{t.time | date:"h:mma" | lowercase}}
				</span>「{{t.content}}」
			</div>
		</div>
	</div>
</body>
</html>
